.input {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  border-color: black;
  border-radius: 5px;
  padding: 3px;
}

.small {
  font-size: 2em;
  text-align: center;
}
