@mixin buttonHoverAndClick($baseColor) {
  background-color: $baseColor;
  box-shadow: 0px 6px 1px desaturate(darken($baseColor, 30%), 30%);
  &:hover {
    background-color: desaturate(darken($baseColor, 10%), 30%);
  }
  &:active {
    transform: translate(0px, 6px);
    box-shadow: 0px 1px 1px desaturate(darken($baseColor, 30%), 30%);
    transition: transform 0.08s, box-shadow 0.08s;
  }
}

.button {
  cursor: pointer;
  padding: 30px;
  font-size: 30px;
  color: black !important;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
  justify-content: center;
  user-select: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  @include buttonHoverAndClick(#e8e8e8);
}

.red {
  color: white !important;
  @include buttonHoverAndClick(#ff7b7b);
}

.blue {
  color: white !important;
  @include buttonHoverAndClick(#78aeff);
}
