.title {
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  letter-spacing: 0em;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
  .title {
    text-align: center;
    font-family: "Poppins";
    font-weight: 600;
    letter-spacing: 0em;
    font-size: 2.5rem;
    margin-top: 8rem;
  }
}
