.container{
    background-color: white;
}

.title {
    text-align: center;
    font-family: "Poppins";
    font-weight: 600;
    letter-spacing: 0em;
    font-size: 4rem;
    margin-top: 8rem;
}

.voting_boxes {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 6.25rem;
}

.red_box {
    background-color: #FF7B7B;
    /* min-height: 80%; */
    height: 70rem;
    width: 30%;
    top: 358px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px 0px #00000040;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue_box {
    background-color: #78AEFF;
    /* height: 556px; */
    height: 70rem;
    width: 30%;
    top: 358px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px 0px #00000040;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: white;
    text-align: center;
    font-size: 5rem;
}

.blue_box:hover {

    transform: scale(1.1);
}

.red_box:hover {

    transform: scale(1.1);
}