.container {
  background-color: #ff7b7b;
  width: 29.25rem;
  height: 5.625rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.value {
  color: white;
  text-align: center;
  font-size: 1rem;
  line-height: 5.625rem;
}
