.title {
    text-align: center;
    font-family: "Poppins";
    font-weight: 600;
    letter-spacing: 0em;
    font-size: 4rem;
    margin-top: 8rem;
}

._boxes {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 6.25rem;
}
