
.container_blue {
    background-color: #78AEFF;
    /* height: 556px; */
    height: 5rem;
    width: 15%;
    top: 358px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px 0px #00000040;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
color: white;
text-align: flex-end;
font-size: 2rem;
}

.container_blue:hover {

transform: scale(1.1);
}



