.name {
  width: 50%;
}

.file {
  position: relative;
}

.file > ::-webkit-file-upload-button {
  visibility: hidden;
}

.file > input {
  width: 6em;
  height: 3em;
  background-image: url("../public/downloadpicture.png");
  background-size: 2em;
  background-repeat: no-repeat;
  background-position: 59px 15px;
}

.choices {
  width: 25vw;
  height: 40vh;
}
