@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$red: #ff7b7b;
$blue: #78aeff;
$gray: #e8e8e8;

*,
html,
body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes background-animation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

body {
  background-image: url("../public/background.png");
  animation: background-animation 240s linear infinite;
}
