@mixin floatyColor($baseColor) {
  color: $baseColor;
  $dark: desaturate(darken($baseColor, 30%), 30%);
  text-shadow: 0px 1px $dark, 0px 2px $dark, 0px 3px $dark, 0px 4px $dark,
    0px 5px $dark, 0px 6px $dark, 0px 20px 5px #ddd;
}

.floaty {
  font-size: 10em;
  margin: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  animation: float 5s ease-in-out infinite;
  .red {
    @include floatyColor(#ff7b7b);
  }
  .gray {
    @include floatyColor(#e8e8e8);
  }
  .blue {
    @include floatyColor(#78aeff);
  }
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
