@mixin color($baseColor) {
  background-color: $baseColor;
  box-shadow: 0px 6px 1px desaturate(darken($baseColor, 30%), 30%);
}

.container {
  @include color(#fefefe);
  padding: 100px;
  border: 2px solid #aaa;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
