.container {
  background-color: white;
  height: 100%;
  margin: 0;
}

.title {
  text-align: center;
  font-weight: 600;
  letter-spacing: 0em;
  font-size: 4rem;
  padding-top: 4rem;
  margin: 0;
}

.viewResults > a {
  margin-top: 1.5em;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.voting_boxes {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3rem;
  height: 100%;
  margin: 0;
}


.page {
  background-color: white;
  height: 100vh;
}
